<div class="container-fluid">
   <div class="row">
    <div class="col-lg-12 mb-4">
        <h4 class="text-primary mb-0">Welcome Doctor</h4>
        <a href="#" routerLink="/doctor/dashboard" class="text-secondary">
            <small>Dashboard</small>
        </a>
    </div>
    <div class="col-lg-12 mb-4">
        <app-doctor-widget-scores></app-doctor-widget-scores>
    </div>

    <div class="col-lg-12">
       <app-upcomming-appointments></app-upcomming-appointments>
    </div>

   </div>
</div>